/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-oik-sb-sb-debug-block {


}

div.wp-site-blocks > div.wp-block-oik-sb-sb-debug-block.template:first-of-type {
  background-color: white;
  position: absolute;
  top: 0;
  z-index: 100000;
  color: white;
  height: auto;
  overflow: auto;
  width: auto;
  border-top: 1px solid green;
  background: transparent;
  left: 50%;
  padding: 0 1em;
}

div.wp-site-blocks > div.wp-block-oik-sb-sb-debug-block.template:first-of-type:hover {
  position: absolute;
  z-index: 100000;
  padding: 0 1em;
  height: auto;
  top: 0px;
  left: 50%;
  color: black;
}

/*
Styling for blocks with class="WP_DEBUG"
 */
div.wp-block-oik-sb-sb-debug-block.template-part { height: 1px;
  border-top: 1px dashed blue;
  border-bottom: 1px solid green;
  width: 100%;
  overflow: hidden;
  position: relative;
}

div.wp-block-oik-sb-sb-debug-block:hover {
  height: auto;
  overflow: auto;
  position: relative;
}
